<h1>Unicon Stats</h1>
<p>following are the stats of Unicon as of now...</p>
<br>
<ul>
  <li>Number of Users: <%=h@no_of_users%></li>
  <li>Number of News Articles: <%=h@no_of_news_articales%></li>
  <li>Number of Advertisements: <%=h@no_of_ads%></li>
  <li>Number of Contacts: <%=h@no_of_contacts%></li>
  <li>Number of Contact Sources: <%=h@no_of_contact_sources%></li>
</ul>
