<h1>Listing Contact Sources</h1>
<br>
<table>
  <tr>
    <th><b>Name</b></th>
    <th><b>Username</b></th>
    <th><b>Password</b></th>
    <th><b>Note</b></th>
  </tr>

<%
alter_color = true
for contact_source in @contact_sources
  alter_color = !alter_color
%>
  <tr id=contact_<%=h alter_color.to_s %>>
    <td><%=h contact_source.name %></td>
    <td><%=h contact_source.username %></td>
    <td><%=h contact_source.password %></td>
    <td><%=h contact_source.provider %></td>
    <td><%=h contact_source.note %></td>
    <td>:</td>
    <td><%= link_to 'Show', contact_source %> |</td>
    <td><%= link_to "Sync", :controller => "contact_sources", :action => "sync", :id => contact_source%> |</td>
    <td><%= link_to 'Edit', edit_contact_source_path(contact_source) %> |</td>
    <td><%= link_to 'Destroy', contact_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact Source', new_contact_source_path %>
